.slider{
    background-color:white;
    margin-top: 16px;
    height:430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
.choose{
    margin-right: 20px;
    background: none;
    border: none;
    width: 10px;
    height: 10px;
    
}
.choose:hover{
    transform: scale(1.2);

}
.choose:focus{
    transform: scale(1.2);
}
.sl-card{
    display: flex;
    flex-direction: column;
    height: 230px;
    justify-content: space-between;
    margin-right: 60px;
}
.sl-cards{
    display: flex;
    width: 100%;
    margin-bottom: 100px;
    position: relative;
    left:-16%;
    transition: 0.3s ease-in;
    
    /* 29 */
}
.sl-txt{
    font-family: "Roboto";
    font-size: 22px;
    text-align: center;
}

